@font-face {
    font-family: Norse;
    src: url(./Norse-Bold.otf);
    font-weight: bold;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.logo__text {
    font-family: 'Norse', cursive;
}